@media(min-width: 701px){
    .entryForm {
        padding-top: 150px;
        height: 88.2vh;
        overflow: scroll;
    }
    .entryForm > h1 {
        text-align: center;
    }
    form {
        text-align: center;
    }
    .letter {
        height: 300px;
        width: 520px;
    }  
    input {
        font-size: 30px;
    }
    button {
        font-size: 30px;
    }
    form > div {
        display: flex;
        justify-content: center;
    }
}
