* {
    margin: 0;
    padding: 0;
}
.home {
    position: relative;
    top: 104px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;

    width: 100vw;
    height: 576px;

} 
.farm{
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 576px;
    
}
.overlay{
    position: absolute;
    width: 100%;
    height: 576px;
    background: rgba(61, 58, 59, 0.67);
}
.homeText{
    z-index: 1;
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 73px; 
    letter-spacing: -0.5px;
    color: #ffffff;

}
.about{
    z-index: 1;
    height: 84px;
    width: 536px;
    font-family: Roboto;
    font-size: 18px;
    line-height: 28px;
    display: flex;
    text-align: center;
    letter-spacing: 0.5px;
    color: #ffffff;
}
.button{
    position: relative;
    top: 50px;
    border: none;
    height: 36px;
    width: 167px;
    border-radius: 4px;
    background-color: #667d60;

    font-family: Roboto;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0.75px;
    text-transform: uppercase;
    color: #ffffff;
}
.second-container{
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
} 
.haha {
    position: relative;
    top: 25%;
    height: 384px;
    width: 1008px;
}
.haha > img{
    width: 504px;
    height: 384px;
    border-radius: 4px;
}
 .stuff{
    position: absolute;
    top: 80px;
    left: 550px; 
  
    height: 184px;
    width: 472px;
}
.stuff > h3 {
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
    line-height: 41px;
    letter-spacing: 0.25px;
    color: #000000;
}
.stuff > p{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    color: #000000;
}
.rrrhhh{
    position: absolute;
    height: 32px;
    left: 55%;
    right: 16px;
    top: 70%;
    width: 126px;
    background-color: #667d60;
    border-radius: 4px;
    border: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #ffffff;

    text-align: center;
    letter-spacing: 0.75px;
    text-transform: uppercase;
}