 @media (min-width: 700px) {
    .headerContainer {
        box-shadow: none;
    }
    .aboutDiv > .aboutLine:active{
        /* Still working on this */
        background-color: #ffffff;
        height: 4px;
        width: 100%;

        position: relative;
        top: 100px;
    }
    .aboutContainer {
        padding-top: 104px;
    }
    .header {
        z-index: 5;
        height: 464px;
        width: 100vw; 
    }
    .nestedHeader {
        height: 394px;
        width: 100vw;
        background: #667D60;
        box-shadow: 0px 24px 24px rgba(0, 0, 0, 0.15);
    }
    .title{
        position: relative;
        left: 10%;
        top: 206px;

        width: 417px;
        height: 133px;

        font-family: Proxima Nova;
        font-weight: bold;
        font-size: 60px;
        color: #ffffff; 
    }
    .disthing{
        position: relative;
        top: -50px;
        left: 60%;
        height: 384px;
        width: 505px;
    }
    .middleHeader{
        position: relative;
        top: 10%;
        height: 546px;
        display: flex;
        justify-content: center;
    }
    .line{
        position: relative;
        left: -12%;
        top: 10px;
        width: 71px;
        height: 4px;
        background-color: #000000;
    }
    .anotherDiv{
        height: 144px;
        width: 678px;
        position: relative;
        top: 30%;
    }
    .morestuff{
        height: 84px;
        width: 501px;
        font-size: 18px;
    }
    .learnMore{
        border: none;
        height: 36px;
        width: 167px;
        border-radius: 4px;
        background-color: #667d60;
    
        font-family: Roboto;
        font-weight: 500;
        font-size: 14px;
        text-align: center;
        letter-spacing: 0.75px;
        text-transform: uppercase;
        color: #ffffff;
    }
    .bottomHeader{
        height: 516px;
        width: 100vw;
        background-color: #f0f0f0;

        display: flex;
        justify-content: space-evenly;
    }
    .family{
        position: relative;
        top: 25%; 
        height: 212px;
        width: 330px;

    }
    .start{
        position: relative;
        top: 25%; 
        height: 212px;
        width: 332px;
    }
    .start > h4{
        padding-bottom: 10%;
        font-family: Proxima Nova;
        font-weight: bold;
        font-size: 34px;
        line-height: 41px;
        letter-spacing: 0.25px;
        color: #000000;
    }
    .start > p {
        font-family: Roboto;
        font-size: 18px;
        line-height: 28px;
        letter-spacing: 0.5px;

        color: #000000;
    }
    .family > h4 {
        padding-bottom: 10%;
        font-family: Proxima Nova;
        font-weight: bold;
        font-size: 34px;
        line-height: 41px;
        letter-spacing: 0.25px;
        color: #000000;
    }
    .family > p {
        font-family: Roboto;
        font-size: 18px;
        line-height: 28px;
        letter-spacing: 0.5px;

        color: #000000;
    }
 }
 