body{
    width: 100vw;
}
.footer {
    position: absolute;
    width: 100vw;
    height: 256px;

    background-color: #3d3a3b;
    box-shadow: 0px -24px 24px rgba(0, 0, 0, 0.15);
    color: #ffffff;

    display: flex;
    justify-content: space-around;
}
.information {
    width: auto;
    display: flex;
    align-items: center;
}
.information h6 {
    font-family: Proxima Nova;
    color: #99bf8f;
    font-size: 20px;
    margin-bottom: 10px;
}
.information span {
    font-size: 14px;
    color: grey;
    text-decoration: underline;
}
.information p{
    margin-bottom: 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
}
.socialLinks {
    margin: 10px;
    border-radius: 100%;
    position: relative;
    width: 40px;
    top: 50%;
    left: 100%;
}
