/* Screens smaller than 1440px (laptop) */
@media (max-width: 1440px){
	.productContainer {
		justify-content: space-around;
		display: flex;
		flex-wrap: wrap;
		width: 100vw;
		padding: 10px;
		height: 100vh;
		overflow: scroll;
	}
	
	.product-card {
		color: #ffffff;
		margin: 10px;
		box-shadow: 16px 16px 24px rgba(0, 0, 0, 0.25);
		display: grid;
		grid-template-rows: 70px auto;
		width: 244px;
		height: 320px;
		border-radius: 8px;

		background: linear-gradient(0deg, #3D3A3B 0%, rgba(61, 58, 59, 0.24) 66.08%);

	}
	.product-card > img {
		border-radius: 8px;
		height: 320px;
		width: 244px;
	}
	.product-card > h2{
		margin-left: 15px;
		position: relative;
		top: 125px;
		z-index: 1;
	}
	.product-page-header{
		font-family: Proxima Nova;
		font-weight: bold;
		font-size: 60px;
		letter-spacing: -0.5px;
		text-align: center;
		padding-top: 10%;
		text-align: center;
	}
	.details-maincontainer{
    /* border: 2px solid blue; */
    height: 100vh;
		text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
	}
  .productName{
    /* border: 1px solid green; */
    font-size: 5rem;
  }
  .product-image-container{
    border: 1px solid red;
    display: flex;
    justify-content: left;
  }
  .product-image{
    height: 10rem;
  }
  .lineage-list{
    border: 1px solid green;
    display: inline-block; 
    text-align: right;
  }
  .lineage-item{
    text-align: left; 
    border: 1px solid red;
    width: 10%;
    list-style-type: disc;
    list-style-position: inside;
  }
	/* .effects{
		background-color: #F0F0F0;
		height: 688px;
		width: 100vw;
	}
	.effects > h1{
		font-family: Proxima Nova;
		font-weight: bold;
		line-height: 58px;
		letter-spacing: 0.25px;
		color: #000000;
		font-size: 48px;
		border-bottom: 1px solid black;
		width: 159px;
		position: relative;
		left: 46%;
		top: 20%;
	}
	.effectsDetails{
		display: flex;
		justify-content: center;
		position: relative;
		left: center;
		top: 30%;
	}
	.effectsDetails > div > h2 {
		font-size: 24px;

	}
	.effectsDetails > div{ 
		width: 242px;
	}
	.effectsDetails > div > p{
		position: relative;
		left: 30%;
		font-size: 18px;
		width: 130px;
		list-style: none;
		text-align: left;
	} */
	/* .info{
		margin-top: 10%;
		width: 100vw;
		height: 688px;
	}
	.info > div {
		position: relative;
		left: 25%;
		width: 50%;
		height: 500px;
	}
	.info > div > img {
		position: relative;
		left: -23%;
		height: 384px;
		width: 504px;
		border-radius: 8px;
	}
	.info > div > h1{
		font-family: Proxima Nova;
		font-size: 50px;
		font-weight: bold;
		line-height: 73px;
		letter-spacing: -0.5px;
		color: #3d3a3b;
		width: 385px;
		position: relative;
		left: 480px;
		top: -370px;
	}
	.info > div > h3{
		padding: 1%;

		position: relative;
		left: 480px;
		top: -350px;
		width: 117px; 

		font-family: Proxima Nova;
		font-weight: bold;
		font-size: 16px;
		text-align: center;
		letter-spacing: 0.15px;
		color: #ffffff;
		background-color: #99bf8f;
	}
	.info > div > h2{
		position: relative;
		top: -320px;
		left: 480px;

		width: 130px;

		font-family: Proxima Nova;
		font-weight: bold;
		font-size: 24px;
		line-height: 28px;
		letter-spacing: 0.5px;
		color: #3d3a3b;

	}
	.info > div > p{

		position: relative;
		top: -300px;
		left: 480px;

		width: 415px;
		height: 180px;

		font-family: Roboto;
		font-size: 13px;
		line-height: 28px;
		text-align: left;
		letter-spacing: 0.5px;
		color: #3d3a3b;
	} */
	
}

/* Screens bigger than 1441px (desktop) */
/* @media(min-width: 1441px){
  .maincontain {
    margin: auto;
    width: 80vw;
  }
	.productContainer {
		justify-content: space-around;
		display: flex;
		flex-wrap: wrap;
		width: 80vw;
		padding: 10px;
		height: 100vh;
		overflow: scroll;
	}
	
	.product {
		color: #ffffff;
		margin: 10px;
		box-shadow: 16px 16px 24px rgba(0, 0, 0, 0.25);
		display: grid;
		grid-template-rows: 70px auto;
		width: 244px;
		height: 320px;
		border-radius: 8px;

		background: linear-gradient(0deg, #3D3A3B 0%, rgba(61, 58, 59, 0.24) 66.08%);

	}
	.product > img {
		border-radius: 8px;
		height: 320px;
		width: 244px;
	}
	.product > h2{
		margin-left: 15px;
		position: relative;
		top: 125px;
		z-index: 1;
	}
	.product > div {
		position: relative;
		top: 88px;
		background-color: #99BF8F;
		height: 48px;
		width: 100%;
		border-bottom-right-radius: 8px;
		border-bottom-left-radius: 8px;
	}
	.product > div > h4{
		font-family: Proxima Nova;
		font-weight: bold;
		font-size: 16px;
		text-align: center;
	}
	.shhLine{
		border: 1px solid black;
		width: 159px;
		position: relative;
		left: 45%;
		margin-top: 20px;
	}
	.shhhh{
		font-family: Proxima Nova;
		font-weight: bold;
		font-size: 60px;
		letter-spacing: -0.5px;
		text-align: center;
		padding-top: 10%;
		text-align: center;
	}
	.filter{
		padding-top: 80px;
	}
	.search{
		position: relative;
		left: 32%;
		width: 679px;
		height: 104px;
		text-align: center;
		background-color: #667D60;
		margin-bottom: 3%;
	}
	.searchField{
		font-size: 26px;
		border-radius: 8px;
	}
	.filter > button {
		padding: 1%;
		border: none;
	}


	.details{
		padding-top: 110px;
		text-align: center;
	}
	.effects{
		background-color: #F0F0F0;
		height: 688px;
		width: 100vw;
	}
	.effects > h1{
		font-family: Proxima Nova;
		font-weight: bold;
		line-height: 58px;
		letter-spacing: 0.25px;
		color: #000000;
		font-size: 48px;
		border-bottom: 1px solid black;
		width: 159px;
		position: relative;
		left: 46%;
		top: 20%;
	}
	.effectsDetails{
		display: flex;
		justify-content: center;
		position: relative;
		left: center;
		top: 30%;
	}
	.effectsDetails > div > h2 {
		font-size: 24px;

	}
	.effectsDetails > div{ 
		width: 242px;
	}
	.effectsDetails > div > p{
		position: relative;
		left: 30%;
		font-size: 18px;
		width: 130px;
		list-style: none;
		text-align: left;
	}
	.info{
		margin-top: 10%;
		width: 100vw;
		height: 688px;
	}
	.info > div {
		position: relative;
		left: 25%;
		width: 50%;
		height: 500px;
	}
	.info > div > img {
		position: relative;
		left: -23%;
		height: 384px;
		width: 504px;
		border-radius: 8px;
	}
	.info > div > h1{
		font-family: Proxima Nova;
		font-size: 50px;
		font-weight: bold;
		line-height: 73px;
		letter-spacing: -0.5px;
		color: #3d3a3b;
		width: 385px;
		position: relative;
		left: 55%;
		top: -370px;
	}
	.info > div > h3{
		padding: 1%;

		position: relative;
		left: 55%;
		top: -350px;
		width: 117px; 

		font-family: Proxima Nova;
		font-weight: bold;
		font-size: 16px;
		text-align: center;
		letter-spacing: 0.15px;
		color: #ffffff;
		background-color: #99bf8f;
	}
	.info > div > h2{
		position: relative;
		top: -320px;
		left: 55%;

		width: 130px;

		font-family: Proxima Nova;
		font-weight: bold;
		font-size: 24px;
		line-height: 28px;
		letter-spacing: 0.5px;
		color: #3d3a3b;

	}
	.info > div > p{

		position: relative;
		top: -300px;
		left: 55%;

		width: 415px;
		height: 180px;

		font-family: Roboto;
		font-size: 13px;
		line-height: 28px;
		text-align: left;
		letter-spacing: 0.5px;
		color: #3d3a3b;
	}
} */